/* colors
light blue: #bad3ec
dark blue : #132c45
orange: #eca378

*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* ---------- Temporary styles for structural html (first step)*/

* {
  padding: 0.5rem;
  border: 2px solid rgb(225, 225, 225);
} */

section {
  padding: 0.5rem;
  border: 2px solid rgb(225,225,225); 
}

body { border: none;}
html { border: none;}

/* ------------ Image styles */

.bg-image {
  background-size: cover;
  min-height: 100px;
  background-repeat: no-repeat;
}

/* ------------ Universal Styles and Utility Classes */

.left     {  text-align: left;     }
.right    {  text-align: right;    }
.centered {  text-align: center;   }


.padded-05 {  padding: 0.5rem;  }
.padded-1 {  padding: 1rem;  }
.padded-2 {  padding: 2rem;  }
.padded   {  padding: 5%;    }
/* .padding    { padding: 5%;}
.padding-sm { padding: 1rem;}
.padding-lg { padding: 10%;} */

.tall-50    {min-height: 50vh;}
.tall-60    {min-height: 60vh;}
.tall-70    {min-height: 70vh;}
.tall-80    {min-height: 80vh;}
.tall-90    {min-height: 90vh;}
.tall-100   {min-height: 100vh;}

.bg-dark { 
  background-color: #132c45;
  color: white;       
}

.bg-light {
  background-color: #bad3ec;
}

.bg-featured {
  background-color: #eca378;
}

.bg-featured-light {
  background-color: #f3c6ac;
}

/* fonts & colors (Universal Styles) 
Source Serif Pro
Light 300
Regular 400
Bold 700
*/

body {
  font-family: 'Source Serif Pro', serif;
  color: #132c45;
}


/* ------------------ Typography Styles */

.text-left    {text-align: left;}
.text-center  {text-align: center;}
.text-right   {text-align: right;}

/* we want this class to be resusable even if we change the color */
.color-text             {color: #eca378;}
.white-text             {color: white}
.font-weight-normal     {font-weight: 400;}
.font-weight-light      {font-weight: 300;}
.font-weight-bold       {font-weight: 700;}
.font-italic            {font-weight: 300;
  font-style: italic;}

.small-text  { font-size: 1.5rem;}
.medium-text { font-size: 1.9rem;
             line-height: 1.1;}
.big-text    { font-size: 4rem;}

.subtitle {
  font-size: 1rem;
  font-weight: 400;
}

.quote-icon {
  font-size: 5rem;
  display: inline-block;
  color: rgb(120,120,125);
  line-height: 1;
  font-weight: 700;
}

h2 {
  font-size: 2.5rem;
  /* adding line height here will ensure we keep this line of text as we want it even when the page shrinks */
  line-height:1.1;
  /* space between h2 and p */
  margin-bottom: 1rem;
}

h3 {
  line-height: 1;
}


p {
  font-weight: 400;
  line-height: 1.5;
  margin-bottom: 0.5rem;
}

/* used to element space at the bottom of the last paragrach within each parent */
p:last-child {
  margin-bottom: 0;
}

/* a {
  text-decoration: none;
  border-bottom: 1px solid;
  color: white;
}

a:hover {
  color: #F9BE00;
} */

/* -------------Navigation Styles */

.button-nav {
  color: black;
  text-decoration: none;
  /* display: inline-block; */
  border: 1px solid black;
  border-radius: 10px;
  margin-right: 1rem;
  margin-top: 4rem;
  padding-right: 1rem;
  padding-left: 1rem;
}

.button-nav a:hover {
  background-color: #F9BE00;
  color: white;
}

.page-nav {
  padding: 2rem;
  text-align: right;
}

.button-emphasis {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  font-weight: 600;
}

/* ------------ Header & Footer Styles */

header {
  background-image: url('/Images/bed-white-new.jpg');
  background-size: cover;
  background-position: center;
}

header h3 {
  font-size: 5.5rem;
  /* line height is the only space between h1 and h3 since there is no padding or margin. inspect the page to find this out. Line height doesn't need a unit, the number is proportion to the font size itself */
  line-height: 1;
}

footer a {
  border: none;
}

/* ---------------Background images */

.bg-river {
  background-image: url('/images/river.jpg');
  background-position: center;
  background-size: cover;
}

.bg-raft-1 {
  background-image: url('/images/raft-1.jpg');
  background-position: center;
  background-size: cover;
}

.bg-paddle {
  background-image: url('/images/paddle.jpg');
  background-position: 50% 63%;
  background-size: cover;
}

.bg-raft-2 {
  background-image: url('/images/raft-2.jpg');
  background-position: center;
  background-size: cover;
}


/* ---------------- Icon Grid - Featured Tours*/

/* we are targeting the existing class just to prevent the font-awesome class from overriding any element we styles */
.fas {
  display: block;
  text-align: center;
  margin-bottom: 1rem;
  font-size: 3rem;
}

.no-bullets {list-style: none;}

.featured-tour h3 {
  font-weight: 600;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.featured-tour ul {
  line-height: 1.8;
}

.icon-image {
  min-height: 
}

/* ------------------- About Page */

.banner {
  background-color: rgb(235,235,235);
  background-size: cover;
  background-position: center;
  min-height: 80vh;
}


/* Pricing cards */

.no-bullets {
  list-style: none;
}

.card {
  padding: 2rem;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.2), 0 10px 10px -5px rgba(0, 0, 0, 0.2);
}

.card.featured {
  border: 2px solid #F9BE00;
}

.price {
  font-size: 3rem;
  font-weight: 400;
}

.bed-size {
  text-transform: uppercase;
  letter-spacing: 2px;
  color: rgb(120,120,125);
}

.card .button-buy {
  margin-top: 2rem;
}

ul {
  margin-bottom: 1rem;
}

.button-buy {
  border: 2px solid grey;
  color: grey;
  display: inline-block;
  padding-right: 2rem;
  padding-left:2rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-radius: 1px;
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.2), 0 10px 10px -5px rgba(0, 0, 0, 0.2);

}
    